@import "./toolbars.css";
@import "./binnodes.css";
@import "./edges.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 600px;
}

:root {
    --normal-inner-h: 40px;
    --normal-outer-h: 60px;
    --normal-inner-w: 40px;
    --normal-outer-w: 60px;
    --normal-font-size: 25px;
    --normal-numcolor: rgb(55, 66, 250);
    --normal-bdcolor: rgb(55, 66, 250);
    --normal-bgcolor: white;
    --normal-edgecolor: black;
    --normal-bdwidth: 3px;
    --normal-edgewidth: 3px;
}


#TreePlayground {
    position: relative;
    padding: 10px 50px;
    width: 100%;
    height: 100%;
}

.tree {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 300px;
}

.tree::before {
    content: "";
    display: block;
    width: 30px !important;
    height: 30px !important;
    border: 2px dashed black !important;
    border-radius: 30% !important;
    position: relative;
    top: -80px;
    transform: translate(-50%, -50%);
    cursor: move;
    opacity: 0.5;
    z-index: 1000;
}

.tree::after {
    content: "";
    display: block;
    width: 0px;
    height: 34px;
    border: 2px solid black;
    position: relative;
    top: -80px;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.tree:hover::before  {
    opacity: 1;
}

.tree:active::before {
    border-width: 3px;
}

.left-message {
    position: absolute;
    right: 93px;
    top: -95px;
    font-size: 24px;
    color: gray;
    white-space: nowrap;
}

.right-message {
    position: absolute;
    left: 40px;
    top: -95px;
    font-size: 24px;
    color: gray;
    white-space: nowrap;
}