@import "./toolbars.css";
@import "./binnodes.css";
@import "./edges.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    /*系统默认菜单被禁用*/
    -webkit-user-select: none;
    /*webkit浏览器*/
    -khtml-user-select: none;
    /*早期浏览器*/
    -moz-user-select: none;
    /*火狐*/
    -ms-user-select: none;
    /*IE10*/
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 300px;
    position: relative;
}

:root {
    --normal-inner-h: 40px;
    --normal-outer-h: 60px;
    --normal-inner-w: 40px;
    --normal-outer-w: 60px;
    --normal-font-size: 25px;
    --normal-bdwidth: 3px;
    --normal-edgewidth: 3px;
    --normal-numcolor: rgba(30, 144, 255, 1.0);
    --normal-bdcolor: rgba(30, 144, 255, 1.0);
    --normal-bgcolor: white;
    --normal-edgecolor: rgba(87, 96, 111, 1.0);
    --active-color: rgba(253, 121, 168, 1.0);
    --visited-color: gray;
    --deprecated-color: rgba(253, 203, 110, 1.0);
}

#TreePlayground {
    position: relative;
    width: 100%;
    height: 100%;
}

.tree {
    position: absolute;
    width: 50px;
    left: 50%;
    top: 300px;
    z-index: 10;
}

.tree-dragging-btn {
    display: block;
    width: 35px;
    height: 35px;
    border: 2px dashed black;
    border-radius: 30%;
    position: absolute;
    top: -80px;
    transform: translate(-50%, -50%);
    transform-origin: 50% 80px;
    cursor: move;
    opacity: 0.5;
}

.tree-dragging-btn::after {
    content: "";
    display: block;
    width: 0px;
    height: 31px;
    border: 2px solid black;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

@keyframes shake {
    10% {
        transform: translate(-50%, -50%) rotate(-5deg);
    }
    20% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    40% {
        transform: translate(-50%, -50%) rotate(-3deg);
    }
    60% {
        transform: translate(-50%, -50%) rotate(3deg);
    }
}

.tree-dragging-btn:hover {
    animation: shake 1s;
    opacity: 1;
}

.tree-dragging-btn:active {
    /* border-width: 3px; */
}

.left-message {
    position: absolute;
    right: 93px;
    top: -95px;
    font-size: 24px;
    color: gray;
    white-space: nowrap;
}

.right-message {
    position: absolute;
    left: 40px;
    top: -95px;
    font-size: 24px;
    color: gray;
    white-space: nowrap;
}

#footer {
    font-size: 14px;
    z-index: -100;
    color: gray;
}

/* Pad */

@media screen and (max-width: 768px) {
    .tree {
        top: 350px;
    }
    .tree-dragging-btn {
        width: 50px;
        height: 50px;
    }
    .tree-dragging-btn::after {
        height: 25px;
    }
}

/* Horizontally */

@media screen and (max-height: 500px) {
    .tree {
        top: 200px;
    }
}